@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', sans-serif;
}

.box {
    width: 100%;
    display: grid;
    grid-template-areas: "encabezado     encabezado"
        "seccion        seccion"
        "pie            pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    grid-area: encabezado;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 5px 10%;
}

header .logo {
    cursor: pointer;
}

header .logo img {
    height: 60px;
    width: auto;
    transition: all 05;
}

header .logo img:hover {
    transform: scale(1.2);
}

header .navbar {
    list-style: none;
    background: none;
}

header .navbar li {
    font-size: 18px;
    background-color: rgb(98, 145, 187);
    border-radius: 15%;
    font-family: 'Abyssinica SIL', sans-serif;
    margin: 5px;
    padding: 0 20px;
}

header .navbar li:hover {
    transform: scale(1.1);
    background-image: radial-gradient(lightblue, white);
}

header .navbar a {
    font-size: 500;
    text-decoration: none;
}

header .navbar li a:hover {
    color: black;
}

body {
    display: flex;
    background-image: url(../assets/imagenes/parque.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    color: rgb(51, 51, 51);
}

h3 {
    background-color: aliceblue;
    border-radius: 10px;
    color: rgb(43, 43, 43);
    padding: 2px;
}

main {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#tarjetas {
    display: flex;
    align-items: center;
    height: 500px;
    overflow: auto;
}

main section .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin-left: 150px;
    margin-right: 150px;
    background: none;
    color: black;
}

section .card img {
    display: flex;
    align-items: center;
    width: 350px;
    height: 200px;
}

section .card h2 {
    text-align: left;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100px;
}

form {
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

form input {
    background: none;
    border: none;
    outline: 0px;
    margin: 2%;
    border-bottom: 1px solid grey;
}

form input:focus {
    color: rgb(41, 41, 41);
    border-bottom: 3px solid white;
    transition: all 0.3s ease;
}

.text-a {
    background-color: rgb(145, 143, 143);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.2s;
    opacity: 0.3;
}

.text-a:focus {
    cursor: pointer;
    background-color: rgb(218, 218, 218);

}

.text-a:focus {
    cursor: text;
    color: rgb(41, 41, 41);
    background-color: white;
    border-color: rgb(41, 41, 41);
    opacity: 0.6;
}

.text-a .text-a label {
    margin-top: 0%;
}

footer {
    grid-area: pie;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.t-vender {
    text-align: center;
}

.t-contacto {
    text-align: center;
}

#informacion {
    margin: 5%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.ubicacion {
    margin: 1%;
}

.card {
    width: 600px;
}

@media screen and (max-width: 1024px) {
    .box {
        grid-template-areas: "encabezado"
            "seccion"
            "pie";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    }

    body {
        background-image: url(../assets/imagenes/fondotablet.jpg);
        background-size: cover;
        height: 100%;
        position: relative;
        min-height: 100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .navbar {
        display: flex;
        width: 100%;
    }

    header .navbar li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
    }

    section .card h2 {
        text-align: center;
    }

    form {
        color:rgb(219, 218, 218) ;
        display: flex;
        align-items: flex-start;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
    }

    #tarjetas {
        display: flex;
        flex-direction: column;

    }

    .galeria {
        margin-left: 10%;
    }

    .t-galeria {
        margin-top: 5%;
    }

    .t-vender {
        text-align: center;
        margin-top: 5%;
    }

    .t-contacto {
        text-align: center;
        margin-top: 7%;
    }


    footer {
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: center;
        margin-top: auto;

    }

}

@media screen and (max-width: 720px) {
    .box {
        grid-template-areas: "encabezado"
            "seccion"
            "pie";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    }

    body {
        background-image: url(../assets/imagenes/fondotablet.jpg);
        background-size: cover;
        height: 100%;
        position: relative;
        min-height: 100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .navbar {
        display: flex;
        width: 100%;
    }

    header .navbar li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
    }
    header .navbar ul{
        background: rgba(207, 207, 207 .5);
    }
  
    section .card h2 {
        text-align: center;
    }

    form {
        color: rgb(219, 218, 218);
        display: flex;
        align-items: flex-start;
    }

    input{
        margin: 2px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
    }

    #tarjetas {
        display: flex;
        flex-direction: column;
    }

    .carousel-inner {
        width: 700px;
        height: auto;
    }

    .galeria {
        margin-left: 10%;
    }

    .t-galeria {
        margin-top: 5%;
    }

    .t-vender {
        text-align: center;
    }

    .t-contacto {
        text-align: center;

    }

    footer {
        display: flex;
        list-style: none;
        text-align: center;
        margin-top: auto;
        position: absolute;
        bottom: 0%;
        width: 100%;
    }
}