* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  display: grid;
  grid-template-areas: "encabezado encabezado" "seccion    seccion" "pie         pie";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  overflow-x: hidden;
}

body {
  display: flex;
  background-image: url(../assets/imagenes/parque.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
body header {
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5vh;
  width: 100%;
  padding: 0.5vh 10%;
}
body header .logo {
  cursor: pointer;
}
body header img {
  height: 6vh;
  width: auto;
  transition: all 5;
}
body header img:hover {
  transform: scale(1.2);
}
body header .navbar {
  list-style: none;
  background: none;
}
body header li {
  font-size: 1.8vh;
  background-color: rgb(35, 139, 91);
  color: rgb(36, 35, 35);
  border-radius: 15%;
  font-family: "abyssinica SIL", sasn-serif;
  margin: 0.5vh;
  padding: 0 2vh;
}
body header li:hover {
  transform: scale(1.1);
  background-image: radial-gradient(lightblue, white);
}
body header a {
  font-size: 500;
  text-decoration: none;
}
body header a:hover {
  color: black;
}
body main {
  grid-area: seccion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main .tarjetas {
  display: flex;
  align-items: center;
  height: 50vh;
  overflow: auto;
}
body main .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
  background: none;
  color: black;
  outline: 0px;
  border: none;
  background-color: rgb(40, 110, 172);
}
body main img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20vh;
}
body main h1 {
  color: rgb(36, 35, 35);
}
body main h3 {
  background-color: rgb(35, 139, 91);
  border-radius: 1vh;
  color: rgb(36, 35, 35);
  padding: 2px;
}
body main h2 {
  text-align: center;
}
body main form {
  color: rgb(36, 35, 35);
  display: flex;
  justify-content: center;
  padding: 2vh;
}
body main input {
  background: none;
  border: none;
  outline: 0px;
  margin-bottom: 8%;
  border-bottom: 1px solid grey;
}
body main .enviar {
  padding: 1vh;
  border: 3px solid rgb(40, 110, 172);
  background-color: rgb(35, 139, 91);
  border-radius: 1vh;
  margin-left: 75%;
}
body main input:focus {
  color: rgb(36, 35, 35);
  border-bottom: 3px solid rgb(40, 110, 172);
  transition: all 0.3s ease;
}
body main .text-a {
  background-color: rgb(145, 143, 143);
  padding: 1em;
  margin: 1em;
  border-radius: 1vh;
  border: 2px solid black;
  outline: none;
  transition: all 0.2s;
  opacity: 0.3;
}
body main .text-a label {
  margin-top: 0%;
}
body main .text-a:focus {
  cursor: text;
  color: rgb(36, 35, 35);
  background-color: white;
  border-color: rgb(41, 41, 41);
  opacity: 0.6;
}
body main .informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  margin: 5%;
  height: 70vh;
}
body main .informacion p {
  font-size: 2vh;
  color: black;
  background-color: rgb(35, 139, 91);
  border-radius: 1vh;
}
body main .ubicacion {
  margin: 1%;
}
body main .t-vender {
  text-align: center;
}
body main legend {
  background-color: aliceblue;
  border-radius: 1vh;
}
body main .t-contacto {
  text-align: center;
}
body footer {
  grid-area: pie;
  background-color: none;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  width: 100%;
  transition: 0.5s;
}
body footer:hover {
  background-color: rgb(35, 139, 91);
  border-top: 3px solid rgb(40, 110, 172);
}

@media screen and (max-width: 1024px) {
  .box {
    grid-template-areas: "encabezado   encabezado" "seccion  seccion" "pie   pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
  body {
    background-image: url(../assets/imagenes/fondotablet.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .navbar {
    display: flex;
    width: 100%;
  }
  body header li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
  }
  body main {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
  }
  body h2 {
    text-align: center;
  }
  body form {
    color: aliceblue;
    display: flex;
    align-items: flex-start;
  }
  body label {
    color: aliceblue;
  }
  body .tarjetas {
    display: flex;
    flex-direction: column;
  }
  body .galeria {
    margin-left: 4vh;
  }
  body .t-galeria {
    margin-top: 4vh;
  }
  body .t-vender {
    text-align: center;
    margin-top: 5vh;
  }
  body .t-contacto {
    text-align: center;
    margin-top: 6vh;
  }
  body footer {
    grid-area: pie;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
  }
}
@media screen and (max-width: 720px) {
  .box {
    grid-template-areas: "encabezado" "seccion" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
  body {
    background-image: url(../assets/imagenes/fondotablet.jpg);
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  body header {
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .navbar {
    display: flex;
    width: 100%;
  }
  body header .navbar:hover {
    background-color: rgba(40, 111, 172, 0.753);
    border-radius: 1vh;
    z-index: 1;
  }
  body header li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    z-index: 1;
  }
  body main {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  body h2 {
    text-align: center;
  }
  body form {
    color: rgb(219, 218, 218);
    display: flex;
    align-items: flex-start;
  }
  body label {
    color: aliceblue;
  }
  body .tarjetas {
    display: flex;
    flex-direction: column;
  }
  body .galeria {
    margin-left: 4vh;
  }
  body .t-galeria {
    margin-top: 3vh;
  }
  body .t-vender {
    text-align: center;
    margin-top: 6vh;
  }
  body .t-contacto {
    text-align: center;
    margin-top: 6vh;
  }
  body footer {
    grid-area: pie;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: auto;
  }
}
@media screen and (max-width: 480px) {
  .box {
    grid-template-areas: "encabezado" "seccion" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
  body {
    background-image: url(../assets/imagenes/fondotablet.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  body header {
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .navbar {
    display: flex;
    width: 100%;
  }
  body header li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    z-index: 10;
  }
  body main {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
  }
  body h2 {
    text-align: center;
  }
  body form {
    color: rgb(219, 218, 218);
    display: flex;
    align-items: flex-start;
  }
  body label {
    color: aliceblue;
  }
  body .tarjetas {
    display: flex;
    flex-direction: column;
  }
  body .galeria {
    margin-left: 4vh;
  }
  body .t-galeria {
    margin-top: 3vh;
  }
  body .t-vender {
    text-align: center;
    margin-top: 6vh;
  }
  body .t-contacto {
    text-align: center;
    margin-top: 6vh;
  }
  body footer {
    grid-area: pie;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    position: absolute;
    bottom: 0%;
  }
}/*# sourceMappingURL=style.css.map */